# الـ API Keys وأي ملفات سرية
.env
lib/core/constants/api_keys.dart # لو حاطط الكيز في ملف لوحدها
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# ملفات الـ Build (كبيرة جداً ومش محتاجين نرفعها)
build/
android/.gradle/
android/app/build.gradle.local
android/local.properties
ios/.generated/
.dart_tool/
.packages
.pub-cache/
.pub/

# ملفات الـ IDE (بتاعت الـ Editor نفسه)
.idea/
.vscode/
*.iml
*.iws
*.swp

# ملفات النظام
.DS_Store
Thumbs.db
**/secrets.properties
